In [74]:
import requests
import json
import pandas as pd

In [76]:
data = requests.get("https://web.archive.org/web/20240929211114/https://fruityvice.com/api/fruit/all")

In [80]:
results = json.loads(data.text)

In [82]:
pd.DataFrame(results)

df = pd.json_normalize(results)
df

,name,id,family,order,genus,nutritions.calories,nutritions.fat,nutritions.sugar,nutritions.carbohydrates,nutritions.protein
0,Persimmon,52,Ebenaceae,Rosales,Diospyros,81,0.00,18.00,18.00,0.00
1,Strawberry,3,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.80
2,Banana,1,Musaceae,Zingiberales,Musa,96,0.20,17.20,22.00,1.00
3,Tomato,5,Solanaceae,Solanales,Solanum,74,0.20,2.60,3.90,0.90
4,Pear,4,Rosaceae,Rosales,Pyrus,57,0.10,10.00,15.00,0.40
5,Durian,60,Malvaceae,Malvales,Durio,147,5.30,6.75,27.10,1.50
6,Blackberry,64,Rosaceae,Rosales,Rubus,40,0.40,4.50,9.00,1.30
7,Lingonberry,65,Ericaceae,Ericales,Vaccinium,50,0.34,5.74,11.30,0.75
8,Kiwi,66,Actinidiaceae,Struthioniformes,Apteryx,61,0.50,9.00,15.00,1.10
9,Lychee,67,Sapindaceae,Sapindales,Litchi,66,0.44,15.00,17.00,0.80
10,Pineapple,10,Bromeliaceae,Poales,Ananas,50,0.12,9.85,13.12,0.54
11,Fig,68,Moraceae,Rosales,Ficus,74,0.30,16.00,19.00,0.80
12,Gooseberry,69,Grossulariaceae,Saxifragales,Ribes,44,0.60,0.00,10.00,0.90
13,Passionfruit,70,Passifloraceae,Malpighiales,Passiflora,97,0.70,11.20,22.40,2.20
14,Plum,71,Rosaceae,Rosales,Prunus,46,0.28,9.92,11.40,0.70
15,Orange,2,Rutaceae,Sapindales,Citrus,43,0.20,8.20,8.30,1.00
16,GreenApple,72,Rosaceae,Rosales,Malus,21,0.10,6.40,3.10,0.40
17,Raspberry,23,Rosaceae,Rosales,Rubus,53,0.70,4.40,12.00,1.20
18,Watermelon,25,Cucurbitaceae,Cucurbitales,Citrullus,30,0.20,6.00,8.00,0.60
19,Lemon,26,Rutaceae,Sapindales,Citrus,29,0.30,2.50,9.00,1.10
20,Mango,27,Anacardiaceae,Sapindales,Mangifera,60,0.38,13.70,15.00,0.82
21,Blueberry,33,Rosaceae,Rosales,Fragaria,29,0.40,5.40,5.50,0.00
22,Apple,6,Rosaceae,Rosales,Malus,52,0.40,10.30,11.40,0.30
23,Guava,37,Myrtaceae,Myrtales,Psidium,68,1.00,9.00,14.00,2.60
24,Apricot,35,Rosaceae,Rosales,Prunus,15,0.10,3.20,3.90,0.50
25,Melon,41,Cucurbitaceae,Cucurbitaceae,Cucumis,34,0.00,8.00,8.00,0.00
26,Tangerine,77,Rutaceae,Sapindales,Citrus,45,0.40,9.10,8.30,0.00
27,Pitahaya,78,Cactaceae,Caryophyllales,Cactaceae,36,0.40,3.00,7.00,1.00
28,Lime,44,Rutaceae,Sapindales,Citrus,25,0.10,1.70,8.40,0.30
29,Pomegranate,79,Lythraceae,Myrtales,Punica,83,1.20,13.70,18.70,1.70
30,Dragonfruit,80,Cactaceae,Caryophyllales,Selenicereus,60,1.50,8.00,9.00,9.00
31,Grape,81,Vitaceae,Vitales,Vitis,69,0.16,16.00,18.10,0.72
32,Morus,82,Moraceae,Rosales,Morus,43,0.39,8.10,9.80,1.44
33,Feijoa,76,Myrtaceae,Myrtoideae,Sellowiana,44,0.40,3.00,8.00,0.60
34,Avocado,84,Lauraceae,Laurales,Persea,160,14.66,0.66,8.53,2.00
35,Kiwifruit,85,Actinidiaceae,Ericales,Actinidia,61,0.50,8.90,14.60,1.14
36,Cranberry,87,Ericaceae,Ericales,Vaccinium,46,0.10,4.00,12.20,0.40
37,Cherry,9,Rosaceae,Rosales,Prunus,50,0.30,8.00,12.00,1.00
38,Peach,86,Rosaceae,Rosales,Prunus,39,0.25,8.40,9.50,0.90
39,Jackfruit,94,Moraceae,Rosales,Artocarpus,95,0.00,19.10,23.20,1.72
40,Horned Melon,95,Cucurbitaceae,Cucurbitales,Cucumis,44,1.26,0.50,7.56,1.78
41,Hazelnut,96,Betulaceae,Fagales,Corylus,628,61.00,4.30,17.00,15.00
42,Pomelo,98,Rutaceae,Sapindales,Citrus,37,0.00,8.50,9.67,0.82
43,Mangosteen,99,Clusiaceae,Malpighiales,Garcinia,73,0.58,16.11,17.91,0.41
44,Pumpkin,100,Cucurbitaceae,Cucurbitales,Cucurbita,25,0.30,3.30,4.60,1.10
45,Japanese Persimmon,101,Ebenaceae,Ericales,Diospyros,70,0.20,13.00,19.00,0.60
46,Papaya,42,Caricaceae,Brassicales,Carica,39,0.30,4.40,5.80,0.50
47,Annona,103,Annonaceae,Rosales,Annonas,92,0.29,3.40,19.10,1.50
48,Ceylon Gooseberry,104,Salicaceae,Malpighiales,Dovyalis,47,0.30,8.10,9.60,1.20

In [16]:
import pandas as pd
URL = 'https://en.wikipedia.org/wiki/List_of_largest_banks'
tables = pd.read_html(URL)
df = tables[0]
pd.DataFrame(df)


df = df.iloc[1:21,:]
df

    Rank                       Bank name  Total assets (2023) (US$ billion)
1      2      Agricultural Bank of China                            5623.12
2      3         China Construction Bank                            5400.28
3      4                   Bank of China                            4578.28
4      5                  JPMorgan Chase                            3875.39
5      6                 Bank of America                            3180.15
6      7                            HSBC                            2919.84
7      8                     BNP Paribas                            2867.44
8      9  Mitsubishi UFJ Financial Group                            2816.77
9     10                 Crédit Agricole                            2736.95
10    11    Postal Savings Bank of China                            2217.86
11    12                       Citigroup                            2200.83
12    13                      SMBC Group                            2027.34
13    14                 Banco Santander                            1986.36
14    15          Bank of Communications                            1982.89
15    16                     Wells Fargo                            1932.47
16    17          Mizuho Financial Group                            1923.56
17    18                        Barclays                            1891.72
18    19                Société Générale                            1717.49
19    20                             UBS                            1717.25
20    21                     Groupe BPCE                            1706.80

In [34]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_banks#Banks_by_country_or_territory'
tbale1 = pd.read_html(url)
df1 = tables[0]
df1.iloc[1:33,:]

    Rank                         Bank name  Total assets (2023) (US$ billion)
1      2        Agricultural Bank of China                            5623.12
2      3           China Construction Bank                            5400.28
3      4                     Bank of China                            4578.28
4      5                    JPMorgan Chase                            3875.39
5      6                   Bank of America                            3180.15
6      7                              HSBC                            2919.84
7      8                       BNP Paribas                            2867.44
8      9    Mitsubishi UFJ Financial Group                            2816.77
9     10                   Crédit Agricole                            2736.95
10    11      Postal Savings Bank of China                            2217.86
11    12                         Citigroup                            2200.83
12    13                        SMBC Group                            2027.34
13    14                   Banco Santander                            1986.36
14    15            Bank of Communications                            1982.89
15    16                       Wells Fargo                            1932.47
16    17            Mizuho Financial Group                            1923.56
17    18                          Barclays                            1891.72
18    19                  Société Générale                            1717.49
19    20                               UBS                            1717.25
20    21                       Groupe BPCE                            1706.80
21    22                     Goldman Sachs                            1641.59
22    23                   Japan Post Bank                            1625.60
23    24              Royal Bank of Canada                            1566.41
24    25              China Merchants Bank                            1555.30
25    26                     Deutsche Bank                            1450.57
26    27           Industrial Bank (China)                            1432.59
27    28             Toronto-Dominion Bank                            1428.29
28    29                  China CITIC Bank                            1276.63
29    30                     Crédit Mutuel                            1262.95
30    31  Shanghai Pudong Development Bank                            1207.18
31    32                    Morgan Stanley                            1193.69
32    33              Lloyds Banking Group                            1122.76

### Scraping List of prime ministers of India from Wikipedia

In [61]:

url1 = 'https://en.wikipedia.org/wiki/List_of_prime_ministers_of_India'
table3 = pd.read_html(url1)
df3 = table3[2]


df3

   No.                     Name              Party          Length of term  \
   No.                     Name              Party Longest continuous term
0    1         Jawaharlal Nehru                INC      16 years, 286 days
1    2            Indira Gandhi  INC/INC(I)/INC(R)       11 years, 59 days
2    3            Narendra Modi                BJP      10 years, 236 days
3    4           Manmohan Singh                INC        10 years, 4 days
4    5     Atal Bihari Vajpayee                BJP        6 years, 64 days
5    6             Rajiv Gandhi             INC(I)        5 years, 32 days
6    7      P. V. Narasimha Rao             INC(I)       4 years, 330 days
7    8            Morarji Desai                 JP       2 years, 126 days
8    9      Lal Bahadur Shastri                INC        1 year, 216 days
9   10  Vishwanath Pratap Singh                 JD                343 days
10  11       Inder Kumar Gujral                 JD                332 days
11  12         H. D. Deve Gowda                 JD                324 days
12  13          Chandra Shekhar             SJP(R)                223 days
13  14             Charan Singh              JP(S)                170 days
14  15         Gulzarilal Nanda                INC                 13 days


   Total years of premiership Unnamed: 5_level_1
0          16 years, 286 days                NaN
1          15 years, 350 days                NaN
2          10 years, 236 days                NaN
3            10 years, 4 days                NaN
4            6 years, 80 days                NaN
5            5 years, 32 days                NaN
6           4 years, 330 days                NaN
7           2 years, 126 days                NaN
8            1 year, 216 days                NaN
9                    343 days                NaN
10                   332 days                NaN
11                   324 days                NaN
12                   223 days                NaN
13                   170 days                NaN
14                    26 days                NaN